<h1>Edit questions</h1>

<div class="edit-questions-wrapper">
  <% viewData.questions.forEach( question => { %>
    <form class="delete-form" action="./quiz/delete/<%= question.id %>" method="POST">
      <% if (question.type === 'vocab') { %>
        <p><%= question.question %></p>
        <p><%= question.answer %></p>
      <% } else if (question.type === 'idiom') { %>
        <p><%= question.question %></p>
        <p><%= question.answer %></p>
        <p><%= question.options %></p>
      <% } else if (question.type === 'verbPhrase') { %>
        <p><%= question.question %></p>
        <p><%= question.answer %></p>
        <p><%= question.meaning %></p>
      <% } %>
      <input type="submit" value="delete">
    </form>
  
<% }) %>
</div>
