<% questions.forEach((question, index) => { %>
  <div id="quiz-wrapper">
    <h2>Question <%= index + 1 %>:</h2>
    <idiom-question question="<%= question.question %>" options='<%= question.answers %>' answer="<%= question.answer %>"></idiom-question>
    <p><%= question.answers %></p>
    <p><%= question.question %></p>
  </div>
<% }) %>
</div>